.contactItem{
    display: flex;
    align-items: center;
}

.contactInfo{
    display: flex;
     justify-content: space-between;
      align-items: center;
      width: 500px;
      margin-right: 10px;
}
